<article class="blog">
    <div class="title">
        <a href="/blog/{{id}}" target="_blank">
        {{title}}
        <span class="user-info">
            {{user.username}} on {{format_date created_at}}
        </span>
        </a>
    </div>

    <div class="comments">
        <a href="/blog/{{id}}">
        {{user.username}}{{comment_description}}
        </a>
    </div>
</article>